/* * {
  border: red solid 1px;
} */
body {
  background: url('../images/SSBUP.png') center center fixed;
  background-size: cover;
  /* background-position: center;
  background-repeat: no-repeat; */
}
@media all and (max-width: 480px) {
  body {
    background: url('../images/SSBUP.png') center center fixed;
    background-size: contain;
    /* background-position: center;
    background-repeat: no-repeat; */
  }
}
@media all and (min-width: 481px) and (max-width: 768px) {
  body {
    background: url('../images/SSBUP.png') center center fixed;
    background-size: contain;
    /* background-position: center;
    background-repeat: no-repeat; */
  }
}

h1, legend, label{
  color: #fff;
  text-align:center;
}
legend, label {
  font-size: 1.5em;
  font-weight: bold;
}

img {
  border-radius: 3%;
}

fieldset{
  width:40%;
  margin: auto;
  height:40%;
  padding: 3% 2%;
  text-align:center;
}

.choicebox{
  margin: auto;
  padding-bottom:4%;
}
button{
  display:block;
  margin:auto;
}

/* borders are temporary just see if grid is working */
.player {
  display: flex;
  justify-content: flex-end;
  /* border: rebeccapurple solid 5px; */
}
.cpu {
  display: flex;
  justify-content: flex-start;
  /* border: orangered solid 5px; */
}
.vs {
  text-align: center;
  /* border: blue solid 5px; */
}

.blockContainer {
  display: flex;
  justify-content: center;
}

#result {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
}

/* Grid box for player & cpu image. This could possibly be done with flexbox instead */
/* center grid box can be made smaller if needed */
.characterImage {
  display: grid;
  margin: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-template: 1fr / repeat(3, 1fr);
  gap: 10px;
  /* border: red solid 5px; */
}
/*  */